__pycache__/
*.py[cod]

.env
.env.*
*.db
*.sqlite
*.sqlite3

backend/auth/collectr_state.json
backend/auth/cardladder_state.json

venv/
node_modules/
.next/

backend/venv/
frontend/.next/
frontend/node_modules/
frontend/next-env.d.ts
